<app-navbar [navElems]="this.navElems"></app-navbar>

<div id="infopage">
  <div id="infocard" class="card" style="width: 18rem;">
    <img class="card-img-top" src="../assets/img/font.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">A propos</h5>
      <p class="card-text" style="text-align: justify">MonAssistantMédical à été créé dans le but de réaliser un suivi personnel de ses constantes.
        Ce projet à vue le jour dans le cadre d'un projet de cours à l'école polytechnique de l'université Paris-Saclay.
      Cette application est encore au stade de développement et reste totalement libre de droit.
        Toute personne intéressée par le projet est donc libre de participer en proposant des correctifs sur le repo public GitHub.
      </p>
    </div>
    <div class="card-body">
      <h5 class="card-title">Auteurs</h5>
      <ul>
        <li>Rivoallanou-Drevet</li>
        <li>Tony Lim</li>
        <li>Nicolas Bourneuf</li>
      </ul>
    </div>
    <div class="card-body">
      <a href="https://github.com/NikoB9/MonAssistantMedical" class="card-link" target="_blank"><i class="fab fa-github"></i>&nbsp;&nbsp;Ressources</a>
    </div>
  </div>
</div>

