<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/']">MonAssistantMedical</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" *ngIf="navElems?.accueil; else accueilDeactivate">
        <a class="nav-link" [routerLink]="['/informations']">Informations <span class="sr-only">(current)</span></a>
      </li>
      <ng-template #accueilDeactivate>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/informations']">Informations </a>
        </li>
      </ng-template>
      <li class="nav-item active" *ngIf="navElems?.profil; else profilDeactivate">
        <a *ngIf="this.connected; else elseProfil" class="nav-link" [routerLink]="['/profil']">Profil <span class="sr-only">(current)</span></a>
        <ng-template #elseProfil>
          <a class="nav-link disabled" href="#">Profil</a>
        </ng-template>
      </li>
      <ng-template #profilDeactivate>
        <li class="nav-item">
          <a *ngIf="this.connected; else elseProfil" class="nav-link" [routerLink]="['/profil']">Profil </a>
          <ng-template #elseProfil>
            <a class="nav-link disabled" href="#">Profil</a>
          </ng-template>
        </li>
      </ng-template>
      <li class="nav-item active" *ngIf="navElems?.releves; else relevesDeactivate">
        <a *ngIf="this.connected; else elseReleve" class="nav-link" [routerLink]="['/releves']">Relevés <span class="sr-only">(current)</span></a>
        <ng-template #elseReleve>
          <a class="nav-link disabled" href="#">Relevés</a>
        </ng-template>
      </li>
      <ng-template #relevesDeactivate>
        <li class="nav-item">
          <a *ngIf="this.connected; else elseReleve" class="nav-link" [routerLink]="['/releves']">Relevés </a>
          <ng-template #elseReleve>
            <a class="nav-link disabled" href="#">Relevés</a>
          </ng-template>
        </li>
      </ng-template>
      <li class="nav-item active" *ngIf="navElems?.analyses; else analysesDeactivate">
        <a *ngIf="connected; else elseAnalyse" class="nav-link" [routerLink]="['/analyses']">Analyses <span class="sr-only">(current)</span></a>
        <ng-template #elseAnalyse>
          <a class="nav-link disabled" href="#">Analyses</a>
        </ng-template>
      </li>
      <ng-template #analysesDeactivate>
        <li class="nav-item">
          <a *ngIf="connected; else elseAnalyse" class="nav-link" [routerLink]="['/analyses']">Analyses </a>
          <ng-template #elseAnalyse>
            <a class="nav-link disabled" href="#">Analyses</a>
          </ng-template>
        </li>
      </ng-template>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button *ngIf="!connected; else elseBtn" class="btn btn-outline-dark my-2 my-sm-0" type="button" (click)="open(content)">Connexion</button>
      <ng-template #elseBtn>
          <button class="btn btn-outline-dark my-2 my-sm-0" type="button" (click)="disconnect()">{{login}}&nbsp;&nbsp;<i class="fas fa-sign-out-alt"></i></button>
      </ng-template>
    </form>
  </div>
</nav>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Authentification</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
      <li [ngbNavItem]="1">
        <a ngbNavLink>Connexion</a>
        <ng-template ngbNavContent>
          <app-authentification (closeModal)="close($event)"></app-authentification>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink>Création</a>
        <ng-template ngbNavContent>
          <app-create-user (closeModal)="close($event)"></app-create-user>
        </ng-template>
      </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>

  </div>
</ng-template>



<br>
