<div>
<!-- 	<p>You can do filter table data, in this case with observables and our <code>NgbHighlight</code> component used in Typeahead</p> -->

	<app-creation-releve (createReleve)="create($event)"></app-creation-releve>

	<h3>Mes relevés</h3>
	<form>
		<div class="form-group form-inline">
			Full text search: <input class="form-control ml-2" type="text" /> <!-- [formControl]="filter" -->
		</div>
	</form>

	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Type</th>
				<th scope="col">Date</th>
				<th scope="col">Valeur</th>
				<th scope="col">Information</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let complexeReleve of releves">
				<td>{{complexeReleve.releve.TypeReleve.label}}</td>
				<td>{{this.dateFormat(complexeReleve.releve.prise_de_mesure)}}</td>
				<td>{{complexeReleve.releve.valeur}}</td>
				<td *ngIf="complexeReleve.analyse ; else noAnalyse">{{complexeReleve.analyse.Dangerosite.Couleur.label}} ; {{complexeReleve.analyse.Dangerosite.message}}</td>
				<ng-template #noAnalyse><td>Indisponible.</td></ng-template>
				<td>
					<div class="button">
						<span class="buttonPoubelle" (click)="this.deleteReleve(complexeReleve.releve.id)"><i class="fas fa-trash-alt"></i></span>
						<span class="buttonEdit"><i class="fas fa-edit"></i></span>
						<!-- <i class="fas fa-check-circle"></i> -->
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>