<div>
<!-- 	<p>You can do filter table data, in this case with observables and our <code>NgbHighlight</code> component used in Typeahead</p> -->

	<app-creation-releve (createReleve)="create($event)"></app-creation-releve>

	<h3>Mes relevés</h3>

	<table class="table table-striped table-responsive">
		<thead>
			<tr>
        <th scope="col">
          <div class="flexrow">
            Type
            <form [formGroup]="switchTypeForm">
            <select class="form-control" formControlName="typeReleve" id="typeReleve" (change)="selectType()">
              <option value="-1">Sans filtre</option>
              <option *ngFor="let type of typeReleves" value="{{type.id}}">{{type.label}}</option>
            </select>
            </form>
          </div>
        </th>
				<th scope="col">Date</th>
				<th scope="col">Valeur</th>
				<th scope="col">Information</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let complexeReleve of releves">
				<td>{{complexeReleve.releve.TypeReleve.label}}</td>
				<td>{{this.dateFormat(complexeReleve.releve.prise_de_mesure)}}</td>
				<td>{{complexeReleve.releve.valeur}}</td>
				<td *ngIf="complexeReleve.analyse ; else noAnalyse">
          <span class="pastille" style="background-color: {{complexeReleve.analyse.Dangerosite.Couleur.label}}"></span>&nbsp;{{complexeReleve.analyse.Dangerosite.message}}
        </td>
				<ng-template #noAnalyse>
          <td>Indisponible.</td>
        </ng-template>
				<td>
					<div class="ConteneurBtns">
						<span class="buttonPoubelle" (click)="this.deleteReleve(complexeReleve.releve.id)"><i class="fas fa-trash-alt"></i></span>
						<span class="buttonEdit"><i class="fas fa-edit"></i></span>
						<!-- <i class="fas fa-check-circle"></i> -->
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
