/* You can add global styles to this file, and also import other style files */
body{
  background: #042952;
}

.flexrow{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.conteneurPage{
  width: 80vw;
  background: white;
  padding: 20px;
  border-radius: 5px;
}

